body{
    background-color:rgba(240, 128, 128, 0.537);
    text-align: center;
    font-family:'Times New Roman';
}
a:hover{
    color:aliceblue;
    
}
img{
    width: 75%;
}
figure{
    font-style:italic;
}
ul{
    text-align: left;
}
footer{
    text-align: center;
    
}