<nav>
    <a href="https://webpages.charlotte.edu/ddoan3/">Webspace</a>
    ||
    <a href="https://github.com/LongDoan09">GitHub.com</a>
    ||
    <a href="https://github.com/LongDoan09/longdoan09.github.io">GitHub.io</a>
    ||
    <a href="https://github.com/LongDoan09/longdoan09.github.io/tree/main/itis3135">Course.io</a>
    ||
    <a href="https://www.codecademy.com/profiles/longdoan09">Codecademy</a>
    ||
    <a href="https://www.freecodecamp.org/longdoan09">Freecodecamp</a>
    ||
    <a href="www.linkedin.com/in/long-doan-359a442a5">Linkedin</a>
    ||
    
    <a href="ldoanwebdesign.com">LDoan Webdesign</a> &copy; 2025
</nav>
<nav>
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fwebpages.charlotte.edu%2Fddoan3%2Fitis3135%2F&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">
        <img 
             src="https://jigsaw.w3.org/css-validator/images/vcss"
             alt="Valid CSS!">
      </a>
    <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fwebpages.charlotte.edu%2Fddoan3%2Fitis3135%2F"><img  src="https://www.w3.org/Icons/valid-html401.png" alt="Valid HTML"></a>

</nav>